
CheckBox {
    Background: #FEFEFE;
    CornerRadius: 4;
    BorderThickness: 1;
    BorderBrush:#2222;
    Padding: 8,4;
    Foreground: #333;
    HorizontalContentAlignment: Center;
    HorizontalAlignment: Center;
    VerticalContentAlignment: Center;
    VerticalAlignment: Center;
    ClipToBounds:False;

    [[
        CheckBox /template/ Border#PART_Box{
            Width:20;
            Height:20;
        }
        
        CheckBox /template/ Path#PART_CheckGlyph{
            Fill:#fff;
            Margin:3;
            VerticalAlignment: Center;
        }
        CheckBox:indeterminate,CheckBox:checked{
            Background:var(Accent);
        }
        CheckBox /template/ Path#PART_CheckGlyph{
            RenderTransform:scale(0,0);
        }
        CheckBox:indeterminate /template/ Path#PART_CheckGlyph{
            Data:M 3.5 22.5 A 1.50015 1.50015 0 1 0 3.5 25.5 L 44.5 25.5 A 1.50015 1.50015 0 1 0 44.5 22.5 L 3.5 22.5 z;
            RenderTransform:scale(1,1);
        }
        CheckBox:checked /template/ Path#PART_CheckGlyph{
            Data:M 43.470703 8.9863281 A 1.50015 1.50015 0 0 0 42.439453 9.4394531 L 16.5 35.378906 L 5.5605469 24.439453 A 1.50015 1.50015 0 1 0 3.4394531 26.560547 L 15.439453 38.560547 A 1.50015 1.50015 0 0 0 17.560547 38.560547 L 44.560547 11.560547 A 1.50015 1.50015 0 0 0 43.470703 8.9863281 z;
            RenderTransform:scale(1,1);
        }
    ]]
}