
TextBox {
    Background: #FEFEFE;
    CornerRadius: 4;
    BorderThickness: 1;
    BorderBrush:#2222;
    Padding: 8,4,8,5;
    Foreground: #333;
    HorizontalContentAlignment: Stretch;
    VerticalContentAlignment: Stretch;
    HorizontalAlignment: Center;
    VerticalAlignment: Center;
    MinWidth:40;
    MaxWidth:100;
    SelectionBrush:var(Accent06);
}
TextBox /template/ TextBlock#PART_Watermark {
    IsVisible:False;
    Foreground:#aaa;
}
TextBox:empty /template/ TextBlock#PART_Watermark {
    IsVisible:True;
}
TextBox /template/ TextPresenter#PART_TextPresenter {
    ClipToBounds:True;
}
TextBox /template/ Border#PART_Indicator {
    BorderBrush:#666;
    BorderThickness: 0,0,0,1;
}
TextBox:focus-within /template/ Border#PART_Indicator {
    BorderBrush:var(Accent);
    BorderThickness: 0,0,0,2;
}